<!DOCTYPE html>
<html lang="en">

<head>
    <title>Angular Currency App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="main.js"></script>
</head>

<body ng-app="CurrencyApp" ng-cloak>
    <div layout=row layout-align="center">
        <div layout="column" flex="30" flex-xs="100">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Currency Converter</h2>
                </div>
            </md-toolbar>
            <md-content flex layout-padding>
                <div ng-controller="MainController">
                    <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Currency</label>
                            <md-select ng-model="currencyFrom" ng-change="updateResult()">
                                <md-option ng-repeat="rate in rates" ng-value="rate">
                                    {{rate.currency}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Amount</label>
                            <input ng-model="value" type="number" min="1" ng-change="updateResult()" />
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Currency</label>
                            <md-select ng-model="currencyTo" ng-change="updateResult()">
                                <md-option ng-repeat="rate in rates" ng-value="rate">
                                    {{rate.currency}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Amount</label>
                            <input ng-model="result" type="number" min="1" readonly="true" string-to-number/>
                        </md-input-container>
                    </div>
                    <div class="md-title" ng-show="value && currencyFrom && currencyTo">
                        {{currencyFrom.currency}} 1 = {{currencyTo.currency}} {{1 | convert:currencyFrom.value:currencyTo.value}}
                    </div>
                    <div class="md-caption">
                        <p ng-show="updated">Exchange rate date: {{updated}}
                        </p>
                    </div>
                </div>
            </md-content>
        </div>
    </div>
</body>

</html>
